{sub_dirs, ["rel"]}.
{lib_dirs, ["deps"]}.
{deps, 
    [
    {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb", "HEAD"}},
    {riakc, "1.2.1",
        {git, "git://github.com/basho/riak-erlang-client",
            {tag, "1.2.1"}}}
    ]}.
    
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{erl_opts, [debug_info]}.
